<?xml version="1.0"?>
<config>
	<modules>
		<Ligrila_Bbva>
			<version>0.4.1</version>
		</Ligrila_Bbva>
	</modules>
	<global>
		<!-- VER PARA MULTISHIPPING-->
		<!--
		<rewrite>
			<bbva>
				<from><![CDATA[#^/checkout/multishipping/overviewPost/$#]]></from>
				<to>/bbva/multishipping_overview</to>
			</bbva>
		</rewrite>
		-->
#
        <models>
<!-- model group alias to be used in Mage::getModel('newmodule/...') -->
            <bbva>
<!-- base class name for the model group -->
                <class>Ligrila_Bbva_Model</class>
		<resourceModel>bbva_mysql4</resourceModel>
            </bbva>
        </models>

		<resources>
			<bbva_setup>
			<setup>
			<!-- which module to look for install/upgrade files in -->
				<module>Ligrila_Bbva</module>
				<class>Ligrila_Bbva_Model_Mysql4_Setup</class>
			</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</bbva_setup>
			<bbva_write>
				<connection>
					<use>core_write</use>
				</connection>
			</bbva_write>
			<bbva_read>
				<connection>
					<use>core_read</use>
				</connection>
			</bbva_read>
		</resources>
		<blocks>
			<bbva><class>Ligrila_Bbva_Block</class></bbva>
		</blocks>
		<helpers>
		<bbva>
			<class>Ligrila_Bbva_Helper</class>
		</bbva>
		</helpers>
	</global>

	<frontend>
		<secure_url>
			<bbva>/bbva/standard</bbva>
		</secure_url>
		<routers>
			<bbva>
				<use>standard</use>
				<args>
					<module>Ligrila_Bbva</module>
					<frontName>bbva</frontName>
				</args>
			</bbva>
		</routers>
		<translate>
			<modules>
				<Ligrila_Bbva>
					<files>
						<default>Ligrila_PaymentBbva.csv</default>
					</files>
				</Ligrila_Bbva>
			</modules>
		</translate>
		<layout>
			 <updates>
				  <bbva_redirect>
						<file>bbva.xml</file>
				  </bbva_redirect>
			 </updates>
		</layout>
	</frontend>

	<adminhtml>
		<translate>
			<modules>
				<Ligrila_Bbva>
					<files>
						<default>Ligrila_PaymentBbva.csv</default>
					</files>
				</Ligrila_Bbva>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<bbva>
											<title>Bbva Section</title>
										</bbva>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>

	<default>
		<payment>
			<bbva>
				<active>1</active>
				<model>bbva/paymentMethod</model>
				<title>Bbva</title>
				<allowspecific>0</allowspecific>
				<order_status>pending</order_status>
				<redirect_status>pending</redirect_status>
				<error_status>canceled</error_status>
				<sendmailorderconfirmation>1</sendmailorderconfirmation>
				<urlbbva>1</urlbbva>
				<autoinvoice>O</autoinvoice>
				<transaction_type>O</transaction_type>
				<signaturetype>1</signaturetype>
			</bbva>
		</payment>
	</default>
</config>